@import url("https://use.typekit.net/jbd4swc.css");

html,
body {
    background-color: #BF8360;
    height: 100%;
}

main {
    background-color: #BF8360;
    margin-bottom: 20px;

}

header,
.carousel, .card {
    background-color: #BF8360;

}

.card {
    border-color: #5a3528;
    color: #5a3528;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #5a3528;
    ;

}

p {
    font-family: "ff-real-text-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
    color: #5a3528;

}

.navbar-brand {
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #5a3528;

}

.navbar-brand:hover {
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #BF1B68;

}

.navbar-nav .nav-link {
    font-family: "ff-real-text-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #5a3528;

}

.navbar-nav .nav-link:hover {
    font-family: "ff-real-text-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #BF1B68;

}

.btn-primary {
    background-color: #5a3528;
    color: whitesmoke;
}

.btn-primary:hover {
    background-color: #BF1B68;
    color: whitesmoke;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #BF8360;
    font-size: small;
    color: #5a3528;
}