@import url("https://use.typekit.net/jbd4swc.css");

html,
body {
    background-color: #d4886c;
    height: 100%;
}

main {
    background-color: #d4886c;
    margin-bottom: 20px;

}

header,
.carousel,
.card {
    background-color: #d4886c;

}

#prodW {
    padding-top: 150px;
}

.carousel {
    margin-top:50px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #5a3528;
    ;

}

p {
    font-family: "ff-real-text-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
    color: #5a3528;

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;

}
.navbar-brand {
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #5a3528;
    
    

}

.card {
    border-color: #d4886c;
}

.list-group {
    border-color: #d4886c;
}

.navbar-brand:hover {
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #BF1B68;

}

@media (max-width:450px) {
    .carousel {
        display: none;
    }
    #prodW {
        padding-top: 20px;
        padding-bottom: 25px;
    }

    
}

.navbar-nav .nav-link {
    font-family: "ff-real-text-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #5a3528;

}

.navbar-nav .nav-link:hover {
    font-family: "ff-real-text-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #BF1B68;

}

.card {
    border-color: #5a3528;
    color: #5a3528;
}

.card a {
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #5a3528;
}

.card a:hover {
    text-decoration: underline;
    color: #BF1B68;
}

.btn-primary {
    background-color: #5a3528;
    color: whitesmoke;
    height: 1.5 em;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #BF1B68;
    color:whitesmoke;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d4886c;
    font-size: small;
    color: #5a3528;
}